@tailwind base;
@tailwind components;
@tailwind utilities;

/* Diseño página */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', system-ui, sans-serif;
}

@layer utilities {
  @keyframes gradientMove {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient {
    animation: gradientMove 6s ease infinite;
  }
}